/* ~/.config/waybar/style.css */

/* https://github.com/Alexays/Waybar/wiki/Styling */
* {
    border: none;
    border-radius: 0px;
    font-family: SF Pro Rounded, Twemoji, JetBrainsMono Nerd Font;
    font-size: 14px;
    min-height: 0px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background: #64727d;
    box-shadow: inset 0 -3px #97d01a;
    color: #97d01a;
    font-weight: bolder;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window, #workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}

#clock {
    background-color: #64727d;
}

#custom-wttr {
	font-weight: bolder;
	background: #64727d;
	padding: 0px 10px;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26a65b;
    /* background-color: #97d01a; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
