[Desktop Entry]
Name=LinkedIn
Exec=firefox --class WebApps -P linkedin --new-window https://linkedin.com/
Icon=linkedin
Type=Application
Keywords=linkedin
