[Desktop Entry]
Name=Galaxy
GenericName=Android Remote Control
Comment=Display and control your Android device
# For some users, the PATH or ADB environment variables are set from the shell
# startup file, like .bashrc or .zshrc… Run an interactive shell to get
# environment correctly initialized.
#Exec=/bin/sh -c "\\$SHELL -i -c scrcpy"
Exec=/bin/sh -c "\\$SHELL -i -c scrcpy --stay-awake --turn-screen-off --power-off-on-close --shortcut-mod=lalt --kill-adb-on-close --window-borderless -m 1280"
Icon=scrcpy
Terminal=false
Type=Application
Categories=Utility;RemoteAccess;
StartupNotify=false
