[Desktop Entry]
Name=Simplenote
Exec=firefox --class WebApps -P webapps --new-window https://app.simplenote.com/
Icon=simplenote
Type=Application
Keywords=simplenote;notas;note;simple;
